<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 상세</title>
    <meta charset="UTF-8">
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
</head>
<body th:align="center">
    <h1>게시글 상세</h1>
    <hr>
    <form th:action="@{updateBoard}" method="post">
        <input name="seq" type="hidden" th:value="${seq}">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="orange" th:text="번호" width="80"></td>
            <td th:text="${seq}"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="제목" width="80"></td>
            <!--
                [서버]에서 java의 데이터를 [클라이언트]html문서에 값을 할당해주는 문법 ${title}
            -->
            <td><input name="title" type="text" th:value="${title}"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="작성자"></td>
            <td th:text="${writer}"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="내용">
                <td><textarea name="content" th:text="${content}" cols="40" rows="10"></textarea></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="등록일"></td>
            <td th:text="${createDate}"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="조회수"></td>
            <td th:text="${cnt}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="게시글 수정">
            </td>
        </tr>
<!--        <tr>-->
<!--            <td colspan="2">-->
<!--                <div style="text-align: center;">-->
<!--                    <input type="submit" value="수정"/>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
    </table>
    </form>
    <a th:href="@{/insertBoard}">글등록</a>
    <a th:href="@{/deleteBoard(seq=${seq})}">글삭제</a>
    <a th:href="@{/getBoardList}">글목록</a>
</body>
</html>