<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>새글 등록</title>
</head>
<body th:align="center">
<!--<center>-->
    <h1>게시글 등록</h1>
        <!--
          [클라이언트] html의 form태그를 통한 submit액션을 실행하면 [서버]로 전달되는 mapping주소
          th:action="insertBoard"
          method="post"  // get/post방식으로 데이터 전달 명시하다.
          [서버]컨트롤러에서는 get방식 받는 것과 post방식으로 받는 것을 구분할 수 있다.
        -->
    <form th:action="insertBoard" method="post">
    <table th:align="center" border="1" cellpadding="0" cellspacing="0">
        <select name="category" id="">
            <option value="전체글">전체글</option>
            <option value="인기글">인기글</option>
        </select>
        <tr>
            <td bgcolor="orange" th:text="제목" width="80"></td>
            <td><input type="text" name="title" size="50"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="작성자"></td>
            <td><input type="text" name="writer" size="10"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="내용"></td>
            <td><textarea name="content" cols="50" rows="10"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="게시글 등록">
            </td>
        </tr>
      <!--
       [클라이언트]name='title' 은 서버에서 데이터 매개변수를 받기 위한 변수명(key)
       -->
    </table>
    </form>
<a th:href="@{/getBoardList}">글목록</a>
<!--</center>-->
</body>
</html>